body{
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.clock{
  color: white;
  background-color: #1d3f69; 
  border-radius: 50%;
  margin-top: 100px;
  border: 5px solid rgb(49, 49, 49);
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.2);
  height: 550px;
  width: 550px;
  font-size: 50px;
}

.digits div{
  position: absolute;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.twelve{
  transform:  translate(250px, 20px);
}
.three{
  transform:  translate(480px, 240px);
}
.six{
  transform:  translate(250px, 470px);
}
.nine{
  transform:  translate(40px, 240px);  
}
.arrow-hands{
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 550px;
display: flex;

 
}
.arrow-hands::before{
  content: "";
  border-radius: 50%;
  width: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  background-color:#d1ad42;
  height: 30px;
  z-index:1;
}
.arrow-hands div{
  background-color: white;
  width: 7px;
  transform-origin: bottom center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  bottom: 44%;
  position: absolute;
  height: 170px;
  border-radius: 50%;
}
.arrow-hands .minute-hand{
background-color: #8ec5fc;
height: 200px;
}
.arrow-hands .hour-hand{
  height: 150px;
  background-color: #d1ad42;
  transform: rotate(30deg);
}
.arrow-hands .second-hand{
  height: 240px;
  background-color:rgb(241, 163, 176);
  transform: rotate(200deg);
}
@media(max-width:550px){
  .clock{
    margin: 5px;
    height: 450px;
    width: 450px;
  }
}